*{
    font-family: sans-serif;
    font-weight: bold;
}
a {
    text-decoration: none;
}
html, body{
    background-color: rgb(162, 98, 98);
    color: white;
    margin: 1%;
    padding: 0;
}
ul{
    background-color: #fff;
    color: #333;
    list-style:upper-roman;
    border: solid black;
    width: 15em;
}
button{
    background-color: red;
}

p{
    position: absolute;
    top: 0;
    left: o;
    display: flex;
    justify-content: center;
    background-color: #DD4E33;
}

img{
    width: 70%;
    height: 70%;
}